.section__column_describe {
    height: 366px;

    @media only screen and (max-width: 899px) {
        display: block !important;
        height: auto;
    } 

    @media only screen and (max-width: 649px) {
        width: 100% !important;
    }
}

//Меню описания растения
.menu__link_describe {
    padding: 5px;
}

.menu__item_describe {
    width: 33.33%;
    font-size: 16px;
}

.menu__link_photo {
    cursor: pointer;
    background-color: rgb(25, 25, 25);
}

.menu__link_card {
    cursor: pointer;
    background-color: rgb(50, 50, 50);
}

.menu__link_substances {
    cursor: pointer;
    background-color: rgb(100, 100, 100);
}


//Описание растения
.container_describe {
    height: 100%;
    background-color: rgb(169, 209, 144);
}

//Фото
.container__photo-wrapper {
    @media only screen and (max-width: 849px) {
        width: 100%;
    }
}

.photo {
    box-sizing: border-box;
    width: 100%;
}

//Карточка
.container__describe-card {
    box-sizing: border-box;
    width: 350px;
    padding: 20px;
    background-color: rgb(169, 209, 144);
    display: none;
}

.describe-card__definition-list {
    display: flex;
    flex-flow: row wrap;
    margin: 0px;
    font-size: 14px;
}

.describe-card__term {
    flex-basis: 45%;
    margin-top: 5px;
    font-weight: bold;
    color: brown;
}

.describe-card__describe {
    margin: 0px;
    margin-top: 5px;
    flex-basis: 55%;
    flex-grow: 1;
}

//Вещества
.container__substances {
    box-sizing: border-box;
    overflow: auto;
    width: 350px;
    height: 336px;
    padding: 20px;
    background-color: rgb(169, 209, 144);
    display: none;

    @media only screen and (max-width: 649px) {
        height: auto;
        width: 100%;
    }
}

.substances__heading {
    margin: 0px;
    font-size: 16px;
    text-align: center;
}


.substances__content {
    margin: 3px;
    font-size: 14px;
    text-indent: 20px;
}