.footer {
    display: flex;
    height: 30px;
    font-size: 0px;
}

.footer__column_left {
    height: 100%;
    flex-grow: 1;
    background-color: rgb(86, 149, 118);
}

.footer__column_right {
    width: 350px;
    height: 100%;
    background-color: rgb(195, 230, 145);

    @media only screen and (max-width: 899px) {
        display: none;
    }
}